
.project
.gradle/8.1.1/checksums/checksums.lock
.gradle/8.1.1/dependencies-accessors/dependencies-accessors.lock
/.gradle/8.1.1/dependencies-accessors
.classpath
.gradle/8.1.1/executionHistory/executionHistory.bin
.gradle/8.1.1/executionHistory/executionHistory.lock
*.bin
*.lock
*.properties
/.gradle/buildOutputCleanup
/.gradle
.gradle/file-system.probe
.ignore
/.gradle/buildOutputCleanup
build/tmp/jar/MANIFEST.MF
/build
/bin
/.gradle
.gradle/buildOutputCleanup/cache.properties
/.gradle
/.settings
.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle
.gradle/file-system.probe
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/file-system.probe
/.gradle
/.gradle
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/file-system.probe
.gradle/buildOutputCleanup/cache.properties
*.lock
/.gradle
/.gradle
.gradle/8.2.1/executionHistory/executionHistory.bin
.gradle/8.2.1/fileHashes/fileHashes.bin
/.gradle/8.2.1/fileHashes
